.detail-wrapper {
  color: #fff;
  background-color: #159957;
  background-image: linear-gradient(120deg, #155799, #159957);}

.detail-text {
  color: white; }
  
.detail-text h2 {
    color: white;
    font-size: 2em;
    line-height: 1.3em;
    margin-bottom: 10px;}
  
.wrapper {
  width: 100%; }

